/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none; 
    border:none;
    text-decoration: none;
}

:root{
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #aa4414;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --main-color:#2980b9;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#444;
    --white:#fff;
    --light-color:#777;
    --light-bg:#f5f5f5;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

    /* Transition  */
    --tran-03: all 0.3s ease;
    --tran-03: all 0.4s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
 }

body{
    min-height: 100vh;
    transition: var(--tran-05);
    background-color: var(--body-color);
}

::selection{
    color: #fff;
    background-color: var(--primary-color);
    
}

body.dark{
    --body-color: #101111;
    --sidebar-color: #1d1e1f;
    --primary-color: #363738;
    --primary-color-light: #2e2f30;
    --text-color: #ccc;
    --toggle-color: #fff;
   
}

section{
    padding:2rem;
    max-width: 1200px;
    margin:0 auto;
 }

/* Sidebar */
 .sideB{
    position: fixed;
    top: 0;
    left: 0;
    height: 99%;
    width: 340px;
    padding: 11px 15px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sideB.close{
    width: 88px;
}

/*  Reusable code - Here  */
.sideB li{
    height: 55px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 11px;
}

.sideB header .image,
.sideB .icon{
    min-width: 55px;
    border-radius: 7px;
}

.sideB .icon{
    min-width: 70px;
    border-radius: 6px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.sideB .icon,
.sideB .text{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sideB .text{
    font-size: 19px;
    font-weight: 450;
    white-space: nowrap;
    opacity: 2;
}
.sideB.close .text{
    opacity: 0;
}


.sideB header{
    position: relative;
}

.sideB header .image-text{
    display: flex;
    align-items: center;
}
.sideB header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 4px;
    font-size: 19px;
    font-weight: 550;
}

header .image-text .profession{
    font-size: 17px;
    margin-top: -3px;
    display: block;
}

.sideB header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideB header .image img{
    width: 45px;
    border-radius: 7px;
}

.sideB header .toggle{
    position: absolute;
    top: 55%;
    right: -20px;
    transform: translateY(-45%) rotate(180deg);
    height: 30px;
    width: 30px;
    color: var(--sidebar-color);
    background-color: var(--primary-color);
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sideB header .toggle{
    color: var(--text-color);
}

.sideB.close .toggle{
    transform: translateY(-55%) rotate(0deg);
}

.sideB .menu{
    margin-top: 45px;
}

.sideB li.search-box{
    border-radius: 7px;
    cursor: pointer;
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
}

.sideB li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 7px;
    font-size: 18px;
    font-weight: 455;
    transition: var(--tran-05);
}
.sideB li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sideB li a:hover{
    background-color: var(--primary-color);
}
.sideB li a:hover .icon,
.sideB li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sideB li a:hover .icon,
body.dark .sideB li a:hover .text{
    color: var(--text-color);
}

.sideB .menu-bar{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sideB .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 55px;
    width: 65px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    min-width: 65px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 24px;
    width: 45px;
    border-radius: 30px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 25px;
}

.home{
    position: absolute;
    top: 0;
    left: 325px;
    height: 100vh;
    width: calc(100% - 240px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 35px;
    font-weight: 450;
    color: var(--text-color);
    padding: 13px 65px;
}

.sideB.close ~ .home{
    left: 77px;
    height: 100vh;
    width: calc(100% - 77px);
}
body.dark .home .text{
    color: var(--text-color);
}

.home .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .home .box-container .box{
    padding:2rem;
    text-align: center;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background-color: var(--white);
 }
 
 .home .box-container .box h3{
    font-size: 2.7rem;
    color:var(--black);
 }
 
 .home .box-container .box h3 span{
    font-size: 2rem;
 }
 
 .home .box-container .box p{
    padding:1.3rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
    font-size: 1.7rem;
    color:var(--light-color);
    margin:1rem 0;
 }

 .btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:var(--white);
   cursor: pointer;
   text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.flex-btn{
   display: flex;
   gap:1rem;
}